#loginTitle {
  font-size: 50px;
  margin-left: 10%;
  font-family: "Perpetua", "Goudy Old Style";
  color: #ffffff;
  font-weight: bold;
  width: 30%;
  height: 10%;
}

#loginBanner {
  background-color: #ff3333;
  height: 15%;
}

#loginForm {
  position: relative;
  margin-left: 50%;
}

#rememberMe {
  padding-left: 1%;
}

#registerContainer {
  padding-top: 10%;
}

#signUpTitle {
  position: relative;
  padding-left: 18%;
  padding-bottom: 2%;
  font-family: "Perpetua", "Goudy Old Style";
}

.signUp {
    width: 40%;
  }

#signUpForm {
  width: 100%;
  padding-left: 30%;
}

#fullPage {
  background-color: #E0EEEE
}

#rememberMe {
  color: #ffffff;
}

#message {
  font-family: "Perpetua", "Goudy Old Style";
  width: 30%;
  margin-left: 10%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}