<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to 'Budgeteer', root_path , id: 'logo' %>
    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
  </div>
</nav>
